* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 50px 0px;
	font-family: arial;
	background: radial-gradient(circle, rgba(225, 236, 250, 1) 40%, rgb(255 255 255) 100%);
}

ul {
	list-style: none;
}

.converter {
	margin: 0 auto;
	box-shadow: 0px 0px 8px #828282;
	border-radius: 8px;
	width: 600px;
	background: linear-gradient(33deg, rgb(102 141 190) 0%, rgb(153 182 216) 22%, rgb(196 237 255) 100%);
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.converte__title {
	color: #fff;
	font-size: 30px;
	width: 100%;
  text-align: center;
}

.converte__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.converte__content_input {
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.converte__content_form_select {
	cursor: pointer;
}

.converte__content_btn {
	background-color: #4c6894;;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	padding: 10px 40px;
	color: #fff;
	font-size: 20px;
}

.converte__content_btn:hover {
	cursor: pointer;
	background-color: #3e5b8a;
}

.converte__content_output {
	color: #fff;
	font-size: 20px;
	text-align: center;
}